<footer>
  <!-- ANCHOR SECTION - COPYRIGHT FOR CONTENT -------------------------------- -->
  <section class="section__copyright-for-content">
    <img src="../../assets/img/copyright--black.svg" alt="" />
  </section>

  <!-- ANCHOR SECTION - SOCIAL FOR CONTENT ----------------------------------- -->
  <section class="section__social-for-content ml-0 ml-md-auto">
    <div class="social-info">
      <button class="icon-button__download"></button>
      <button class="icon-button__instagram"></button>
      <button class="icon-button__kakao"></button>
      <div class="phone-number">
        <span class="key">T</span>
        <span class="value">010 4351 3412</span>
      </div>
    </div>
  </section>
</footer>