<div class="board-options">
    <form>
        <div class="
            form-row
            align-items-center
            justify-content-end
        ">
            <div class="col-auto">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">제목</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">게시판</label>
                </div>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control">

            </div>
            <div class="col-auto">
                <button class="btn btn-outline-dark">검색</button>

            </div>
            <div class="col-auto">
                <button class="btn btn-outline-dark">상세검색</button>

            </div>
        </div>
    </form>
</div>