<ul class="board-list">
    <li class="board-item__title">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>NO</span>
    </div>
    <div class="item__title">
        <a href="">제목</a>
    </div>
    <div class="item__author">게시자</div>
    <div class="item__views">조회</div>
    <div class="item__date">게시일</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
    <li class="board-item">
    <div class="item__checkbox">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1"></label>
        </div>
    </div>
    <div class="item__number">
        <span>1</span>
    </div>
    <div class="item__title">
        <a href="#">헌법재판소는 법관의 자격을 가진 9인의 재판관으로 구성하며, 재판관은 대통령이 임명한다 </a>
    </div>
    <div class="item__author">홍길동</div>
    <div class="item__views">177</div>
    <div class="item__date">2022-01-01</div>
</li>
</ul>