/* -------------------------------------------------------------------------- */
/* Bootstrap d-grid support code for BS 4.6                                   */
/* -------------------------------------------------------------------------- */

.d-grid {
  display: grid;
}

/* -------------------------------------------------------------------------- */

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}

.grid-col-md-2 {
  @extend .grid-col-2;

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr;
  }
}

/* -------------------------------------------------------------------------- */

.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.4rem;
}

.grid-col-md-3 {
  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 1fr ;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr;
  }
}

/* -------------------------------------------------------------------------- */

.grid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.4rem;
}

.grid-col-md-4 {
  @extend .grid-col-4;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 1fr ;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr;
  }
}

/* -------------------------------------------------------------------------- */


.grid-col-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 7rem;

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

/* -------------------------------------------------------------------------- */

.grid-col-6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 7rem;
}

.grid-col-lg-6 {
  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr 1fr 1fr ;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr 1fr ;
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr;
  }
}