:root {
  --animate-delay: 0.1s;
}

$global-margin__x: 5.6rem;
$global-margin__y: 7.8rem;

$content-outer-margin__x: 2rem;
$content-outer-margin__y: 3.6rem;
$content-inner-margin__x: 3.6rem;
$content-inner-margin__y: 4rem;
$content-inner-margin__y__top: 10.4rem;

$content-min-width: 36rem;
$content-min-height: 72rem;
$content-min-height--mobile: 64rem;
$content-max-width: 144rem;

$gstar-gray-200: #EAEAEA;
$gstar-gray-400: #cccccc;
$gstar-gray-900: #1D1D1F;

$gstar-red-400: #DC3545;

$section-gap: 19.2rem;
$section-content-gap: 3.6rem;
$section-content-gap--mobile: 2.6rem;

$border-radius-full: 2000px;

$gstar-border-radius-lg: 3.6rem;